<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>ELSE2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>User</servlet-name>
    <servlet-class>com.hot6.user.UserFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User</servlet-name>
    <url-pattern>*.me1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Board</servlet-name>
    <servlet-class>com.hot6.board.BoardFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Board</servlet-name>
    <url-pattern>*.me2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Adm</servlet-name>
    <servlet-class>com.hot6.admin.AdminFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adm</servlet-name>
    <url-pattern>*.adm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MyPage</servlet-name>
    <servlet-class>com.hot6.mypage.MyPageFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyPage</servlet-name>
    <url-pattern>*.me4</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Index</servlet-name>
    <servlet-class>com.hot6.index.IndexFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>*.me5</url-pattern>
  </servlet-mapping>
</web-app>