<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin">
	<insert id="rejectInsert" parameterType="">
		insert into (요청거절테이블)
		values (게시글 번호, 게시글 제목, 작성자)
	</insert>

	<delete id="reqTableDelete" parameterType="">
		delete from (요청/신청 테이블)
		where (승인/거절 버튼이 눌린 거)
	</delete>
	
	<insert id="noticeInsert" parameterType="">
		insert into (관리자공지)
		values (글제목, 작성날짜, 작성자)
	</insert>

</mapper>