@charset "UTF-8";
/* svg:not(:root) {
    overflow: hidden;
} */

/* :not(svg) {
    transform-origin: 0px 0px;
} */

/* < 버튼 */
.css-1j6p3kf {
    border: none;
    background: none;
    cursor: pointer;
    padding: 8px;
    margin: -8px;
    fill: var(--theme-palette-colors-black-100);
}

.css-1j6p3kf svg {
    fill: inherit;
}

.css-ckhhlt {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    font-size: 20px;
}

/* 이메일 input */
.css-wq6t17:read-only {
    color: var(--theme-palette-colors-gray-300);
    -webkit-text-fill-color: var(--theme-palette-colors-gray-300);
    background-color: var(--theme-palette-colors-bluegray-100);
    opacity: 1;
}

/* 국가별 휴대폰 번호 */
.css-17ap7up {
    height: 50px;
    min-height: 50px;
    border-radius: 5px;
    width: 100%;
    border: 1px solid var(--theme-palette-colors-bluegray-200);
    background-color: var(--theme-palette-colors-contents-bg);
    margin-bottom: 10px;
    position: relative;
}

.css-1078l6w {
    padding-left: 12px;
    width: 100%;
    position: absolute;
    left: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    height: 100%;
    border: none;
    background: none;
    z-index: 1;
    font-size: 16px;
    color: var(--theme-palette-colors-gray-900);
    font-weight: 400;
}

option {
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

.css-6j0ypc {
    position: absolute;
    right: 20px;
    font-size: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.css-l9nhxs {
    display: flex;
    flex-direction: row;
    position: relative;
}

/* 휴대폰 인증번호 받기 */
.css-122uu24:disabled {
    border: 1px solid var(--theme-palette-colors-bluegray-100);
}
.css-122uu24:disabled {
    color: var(--theme-palette-colors-gray-300);
    background-color: var(--theme-palette-colors-bluegray-100);
    border: none;
    cursor: default;
}

.css-122uu24:disabled span {
    color: var(--theme-palette-colors-gray-300);
}

.css-122uu24 {
    height: 50px;
    min-height: 50px;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: var(--theme-palette-colors-contents-bg);
    margin-left: 10px;
    padding: 0px 15px;
    width: auto;
    flex: 0 0 auto;
    border-radius: 5px;
    border: 1px solid var(--theme-palette-colors-bluegray-200);
}

.css-122uu24 span {
    color: var(--theme-palette-colors-blue-400);
}

.css-m3uta {
    color: var(--theme-palette-colors-black-100);
    font-weight: var(--text-weight-body-bold);
    text-align: left;
    letter-spacing: var(--text-spacing-body);
    font-size: var(--text-size-body);
    line-height: var(--text-height-body);
}

.css-l9nhxs {
    display: flex;
    flex-direction: row;
    position: relative;
}

.css-1d2ssup {
    color: var(--theme-palette-colors-gray-600);
    font-weight: var(--text-weight-footnote-normal);
    text-align: left;
    letter-spacing: var(--text-spacing-footnote);
    font-size: var(--text-size-footnote);
    line-height: var(--text-height-footnote);
    margin-bottom: 10px;
    margin-top: 0px;
}

/* 동의서 */
.css-hif188 {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    min-height: 25px;
    width: 100%;
    margin: 28px 0px 10px;
}

.css-slacj2 {
    width: 18px;
    height: 18px;
    font-size: 11px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 3px;
    border: 1px solid var(--theme-palette-colors-gray-200);
}

.css-31p8kg {
    opacity: 0;
    width: calc(100% - 90px);
    height: 100%;
    position: absolute;
    cursor: pointer;
}

.css-1smbjja {
    display: flex;
    flex: 1 1 0%;
}

.css-isn1oz {
    color: var(--theme-palette-colors-gray-900);
    font-weight: var(--text-weight-bodyalt-bold);
    text-align: left;
    letter-spacing: var(--text-spacing-bodyalt);
    font-size: var(--text-size-bodyalt);
    line-height: var(--text-height-bodyalt);
    margin: 0px 0px 0px 7px;
    word-break: keep-all;
}

.css-15tmq2o {
    border-top: none;
    border-right: none;
    border-left: none;
    border-image: initial;
    width: 100%;
    border-bottom: 1px solid var(--theme-palette-colors-bluegray-200);
}

.css-19fyzk7 {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    min-height: 25px;
    width: 100%;
    margin: 10px 0px;
}

.css-41jd5o {
    color: var(--theme-palette-colors-gray-600);
    font-weight: var(--text-weight-bodyalt-medium);
    text-align: left;
    letter-spacing: var(--text-spacing-bodyalt);
    font-size: var(--text-size-bodyalt);
    line-height: var(--text-height-bodyalt);
    margin: 0px 0px 0px 7px;
    word-break: keep-all;
}

.css-1k8ed1f {
    color: var(--theme-palette-colors-gray-600);
    font-weight: var(--text-weight-bodyalt-bold);
    text-align: left;
    letter-spacing: var(--text-spacing-bodyalt);
    font-size: var(--text-size-bodyalt);
    line-height: var(--text-height-bodyalt);
    cursor: pointer;
    margin: 0px;
}

/* 하단 : 가입하기 */
.css-1cusgjg {
    position: sticky;
    bottom: 0px;
}

.css-19u2tlp {
    position: absolute;
    inset: 30px 0px -20px;
    background: var(--theme-palette-colors-contents-bg);
    z-index: -1;
}

.css-agh674 {
    position: absolute;
    inset: -30px 0px 60px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, var(--theme-palette-colors-contents-bg) 100%);
    z-index: -1;
}