<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
   <settings>
      <setting name="mapUnderscoreToCamelCase" value="true"/>
   </settings>

	<typeAliases>
   		<typeAlias type="com.hot6.user.vo.UserVO" alias="userVO"/>
   		<typeAlias type="com.hot6.user.vo.UsermodiVO" alias="usermodiVO"/>
   		<typeAlias type="com.hot6.user.vo.TrustVO" alias="tructVO"/>
   		<typeAlias type="com.hot6.user.vo.SubmitVO" alias="submitVO"/>
   		<typeAlias type="com.hot6.user.vo.PointVO" alias="pointVO"/>
   		<typeAlias type="com.hot6.board.vo.BoardVO" alias="boardVO"/>
   		<typeAlias type="com.hot6.board.vo.BulletinVO" alias="bulletinVO"/>
   		<typeAlias type="com.hot6.board.vo.FileVO" alias="fileVO"/>
   		<typeAlias type="com.hot6.admin.vo.AdminVO" alias="adminVO"/>
   		<typeAlias type="com.hot6.admin.vo.AdminDTO" alias="adminDTO"/>
   		<typeAlias type="com.hot6.admin.vo.InquiryVO" alias="inquiryVO"/>
   		<typeAlias type="com.hot6.admin.vo.InquiryDTO" alias="inquiryDTO"/>
   </typeAliases>

   <environments default="mysql">
      <environment id="mysql">
         <transactionManager type="JDBC"/>
         <dataSource type="POOLED">
            <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
            <!--<property name="driver" value="com.mysql.jdbc.Driver"/>  -->
            <property name="url" value="jdbc:mysql://localhost:3306/test"/>
            <property name="username" value="root"/>
            <property name="password" value="1234"/>
         </dataSource>
      </environment>
   </environments>
   
   <mappers>
      <mapper resource="com/mybatis/mapper/AdminMapper.xml"/>
      <!-- 
      <mapper resource="com/mybatis/mapper/UserMapper.xml"/>
      <mapper resource="com/mybatis/mapper/BoardMapper.xml"/>
      <mapper resource="com/mybatis/mapper/IndexMapper.xml"/>
      <mapper resource="com/mybatis/mapper/MyPageMapper.xml"/>
       -->
   </mappers>
</configuration>